<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="lastname.css">
<h1 style="border:2px solid Black;"> Joseph Soria </h1>
<p  style="border:2px solid Red;"> There are a lot of things I like to do as I am an active person and hates to spend hours in bed.</p>
<hr>
<p  style="border:2px solid Red;"> I like to play sports, most of them because it's fun, go to the gym, and of course play video games.</p>
<hr>
<img src="JS.png" alt="JS"> 
<h2> Link </h2>
<a href= "mailto:S1421943@student.mcckc.edu" > Joe Soria </a>
</body>
</html>
